@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
body, html {
    height: 100%;
    font-family: "Roboto Slab", sans-serif;
}
body {
    font-size: 0.8em;
    line-height: 1.4;
    background-color: #389186;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   ICE custom styles
   ========================================================================== */

div, a, span, video, #ice-header {
    -webkit-transition: all 0.18s ease-in-out;
    -moz-transition: all 0.18s ease-in-out;
}

#viewport {
    width: 1024px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
    overflow: hidden;
}

#ice-header { 
    box-shadow: 0 0 20px rgba(0,0,0,.3); 
    position: fixed;
    border-bottom: 1px solid #c1c1c1; 
    z-index: 10;
    background-color: #fff;
    top: -127px;
}
#ice-header > div { display: inline-block; }
.people { width: 230px; }
.meet-info { width: 790px; }
#com-title { 
    padding: 25px;
    background-color: #f0f0f0; 
}
#com-sharer { padding: 20px; border-left: 1px solid #f0f0f0; }
.circles.action { position: fixed; z-index: 15; }
.circles.action.top { position: absolute; top: 20px; right: 20px; }
.circles.action.main { bottom: 40px; left: 50%; margin-left: -222px; opacity: 0; visibility: hidden; }
.circles.action.top a { width: 80px; height: 80px; }
.circles.action.main a { width: 88px; height: 88px; }
.circles.people a { width: 92px; height: 92px; vertical-align: bottom; }

.circles a {
    display: inline-block;
    text-decoration: none;
    border: 5px solid #fff;
    border-radius: 80px;
    margin-left: 10px;
}

.circles a:hover { border-color: rgba(55, 236, 142, 0.8); }
.circles a:active { box-shadow: 0 0 10px rgba(75, 51, 51, 0.41) inset; }

.circles a.speaker-1 { background: url(../img/people/speaker_01.png) 0 0 no-repeat; }
.circles a.speaker-2 { background: url(../img/people/speaker_02.jpg) 0 0 no-repeat; }
.circles a.call-phone { background: url(../img/icons/call-phone.png) 0 0 no-repeat; }
.circles a.share-screen { background: url(../img/icons/share-screen.png) 0 0 no-repeat; }
.circles a.web-cam { background: url(../img/icons/web-cam.png) 0 0 no-repeat; }
.circles a.share-folder { background: url(../img/icons/share-folder.png) 0 0 no-repeat; }
.circles a.mic { background: url(../img/icons/mic.png) 0 0 no-repeat; }
.circles a.tag { background: url(../img/icons/tag.png) 0 0 no-repeat; }
.circles a.record { background: url(../img/icons/record.png) 0 0 no-repeat; }
.circles a.disconnect { background: url(../img/icons/disconnect.png) 0 0 no-repeat; }

#main { position: relative; height: 100%; }
video {
    position: absolute;
    width: 1020px;
}
video.overlay {
    width: 180px;
    border: 5px solid rgba(253, 255, 255, 0.5);
    z-index: 10;
    border-radius: 3px;
    right: 50px;
    bottom: 50px;
    z-index: 5;
}

#main:hover > .action.main {
    opacity: 1;
    visibility: visible;
}

.c2a {
    width: 275px;
    height: 100%;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 1.2em;
    background-color: #72b1e1;
    border-left: 1px solid #5298CE;
    position: absolute;
    right: -275px;
    z-index: 15;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.c2a.highlight {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: #45A4EE;
}

.c2a .item-holder { cursor: pointer; }
.c2a .item-holder:hover, 
.c2a .item-holder.do-not-remove { background: #299CE9; }
.c2a .item-holder:hover .name,
.c2a .item-holder.do-not-remove .name { color: #FACD1B; }

.c2a .item-holder.do-not-remove { cursor: default; }


.c2a form, .c2a .action-item { padding: 20px 20px 0; }
#c2a-toggle, #hdr-toggle {
    position: absolute;
    display: inline-block;
}
#c2a-toggle {
    top: 18px;
    left: -65px;
    width: 49px;
    height: 49px;
    background: url(../img/icons/action.png) 0 0 no-repeat;
}
#hdr-toggle {
    top: 145px;
    width: 91px;
    height: 58px;
    left: 20px; 
    background: url(../img/icons/ice_logo.png) 0 0 no-repeat;
}
.c2a input, .c2a textarea {
    padding: 10px 15px;
    width: 200px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

form > * {
    margin-top: 20px;
}

.separator { 
    border: 1px solid #fff;
    margin-top: 30px;
}
.action-btn {
    background: url(../img/icons/add-action.png) 0 0 no-repeat;
    border: 0;
    height: 49px;
    width: 49px;
    position: absolute;
    margin-top: -24px;
    right: 80px;
}
.action-btn:active {
    box-shadow: 0 0 10px #888 inset;
    border-radius: 49px;
}

.action-item .name { 
    font-size: 105%; 
    color: #b42626; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

#clear-action {
    right: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}